.Notfound {
    width: 100%;
    min-height: calc(100vh - 60px);
    background: url('../../images/stars.svg'), #1B1B25;
    background-repeat: repeat;
  
    color: #ffffff;
  
    display: flex;
    align-items: center;
  }
  
  .Notfound img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(100vh - 80px);;
    margin: 0 auto;
  }
  
  